name: Package

on:
  release:
    types: [ created ]

jobs:
  # Debian package for ubuntu.
  ubuntu:
    strategy:
      matrix:
        os: [ ubuntu-16.04, ubuntu-18.04 ]
        component: [ cli, gui ]
        include:
          - component: cli
            build-opts: --cli --no-gui -t Release --pkg-type deb
          - component: gui
            build-opts: --no-cli --gui -t Release --pkg-type deb
    name: ${{matrix.os}} (${{matrix.component}})
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v1

      - name: Qt
        if: startsWith(matrix.component, 'gui')
        shell: bash
        run: sudo apt-get install qt5-default

      - name: Package
        id: package
        run: |
            ./build.sh ${{matrix.build-opts}}
            FILE=$(ls build/eosio-*.deb | head -1)
            echo "::set-output name=filename::$FILE"
            echo "::set-output name=name::$(basename $FILE)"

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_name: ${{ steps.package.outputs.name }}
          asset_path: ${{ steps.package.outputs.filename }}
          asset_content_type: application/x-deb

  # Windows installer
  windows:
    strategy:
      matrix:
        arch: [ x86, x64 ]
    name: Windows (${{matrix.arch}})
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1

      - name: Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.9'

      - name: Configure
        run: |
          if ("${{matrix.arch}}" -eq "x86") {
              $PLATFORM="Win32"
          } else {
              $PLATFORM="${{matrix.arch}}"
          }
          cmake -A $PLATFORM -DCOMPONENT_GUI=ON -DCOMPONENT_CLI=ON -D CMAKE_BUILD_TYPE=Release -D CPACK_GENERATOR=NSIS -S . -B build

      - name: Build
        run: cmake --build build --config Release

      - name: Package
        id: package
        run: |
          cmake --build build --target package
          $FILE=(ls build/*.exe)
          echo "::set-output name=filename::$FILE"
          echo "::set-output name=name::$(([io.fileinfo]"$FILE").basename).exe"

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_name: ${{ steps.package.outputs.name }}
          asset_path: ${{ steps.package.outputs.filename }}
          asset_content_type: application/vnd.microsoft.portable-executable
